<div class="col-md-12" ng-controller="CalendarCtrl">
  <!--<div id="mw-calendar"></div>-->
  <div class="row">
    <div class="mw-calendar-options">
      <div>
        <button ng-click="toggleWeekends()" class="btn btn-default">
          <span ng-if="calConfig.weekends">Hide Weekends</span>
          <span ng-if="!calConfig.weekends">Show Weekends</span>
        </button>
        &nbsp;&nbsp;Generate a <select class="form-control mw-cal-generate" ng-model="generateChoice" ng-change="generate()" ng-options="opt.label group by opt.type for opt in generateOptions[currentView]">
        </select>
        <span>
          &nbsp;&nbsp;<strong>Key:</strong>
          <span class="label blocked_time">Blocked Time</span>
          <span class="label scheduleClient">Scheduled</span>
          <span class="label attendedClient">Attended</span>
          <span class="label noShow">No Show</span>
          <span class="label cancel">Cancelled</span>
          <span class="label payment_rx">Payment Received</span>
        </span>
      </div>
    </div>
    <div ng-class="{'col-md-8': newDOS.dos_datetime, 'col-md-12': !newDOS.dos_datetime}">
      <div ui-calendar="calConfig" ng-model="eventSources" calendar="mwCalendar"></div>

    </div>
    <div ng-if="newDOS.dos_datetime" class="col-md-4">
      <mw-dos-form ng-model="newDOS" mw-show-client-list="true" mw-client="client"></mw-dos-form>
    </div>

  </div>
</div>
