<h2>My User Permissions</h2>
	<div class="mw-my-permissions">
  The following is a list of users you may act as (assuming they have approved you).
  <table class="table">
    <thead>
      <tr>
        <th>Permitted User</th>
        <th>Permission Level</th>
        <th>User Approved</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
        <tr ng-repeat="permission in myRequests = (userPermissions | filter: {'userinfo': mindwellCache.whoami.email})">
            <td>{{permission.permitteduser}}</td>
            <td>{{permission.permissionlevel}}</td>
            <td>{{permission.user_approved}}</td>
            <td><button class="btn btn-danger" ng-click="deletePerm(permission)">Delete</button></td>
        </tr>
        <tr ng-if="myRequests.length === 0">
            <td colspan="4">
                No Requests
            </td>
    </tbody>
  </table>
  </div>


  Fill out the following to make a request:
  <div>
  <form>
	<div class="form-group">
		<label class="control-label">User Email</label>
		<input class="form-control mw-settings-input" type="text" ng-model="newPermission.permitteduser">
	</div>
	<div class="form-group">
		<label class="control-label">Permisson Level</label>
		  <div>
			<select class="form-control mw-settings-input" ng-model="newPermission.permissionlevel" ng-options="level as level for level in permissionLevels"></select>
		  </div>
	</div>
	<div>
	<button class="btn btn-success" ng-click="saveNewPermissionRequest()">Send Request</button>
	</div>
  </div>
  </form>
  <h2>Permission Requests</h2>
  The following is a list of users asking you for permission to act as you.
  <table class="table">
    <thead>
      <tr>
        <th>Requesting User</th>
        <th>Permission Level</th>
        <th>User Approved</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
        <tr ng-repeat="permission in theirRequests = (userPermissions | filter: {'permitteduser' : mindwellCache.whoami.email})">
            <td>{{permission.userinfo}}</td>
            <td>{{permission.permissionlevel}}</td>
            <td>{{permission.user_approved}}</td>
            <td><button ng-if="permission.user_approved !== 'Approved" class="btn btn-success">Approve</button> <button class="btn btn-danger">Reject</button></td>
        </tr>
        <tr ng-if="theirRequests.length === 0">
            <td colspan="3">No Requests</td>
        </tr>
    </tbody>
  </table>

</form>
