.mw-client-info-col {
    display: inline-block;
}
.mw-client-info {
    padding-top: 15px;
}
.mw-client-info-name > h2 {
    display: inline-block;
}
.mw-client-info-name > button {
    position: relative;
    top: -8px;
}
