{% extends "base_mindwell.html" %}
{% load choices_modal %}
{% block title %} Calendar{% endblock %}
{% block page_javascript %}
function FormatNumberLength(num, length) {
  var r = "" + num;
  while (r.length < length) {r = "0" + r;}
  return r;
}
function FormatCalendarDate(date) {
    console.log(date);
  var str = FormatNumberLength(date.year(),4) + '/' +
            FormatNumberLength(date.month()+1,2) + '/' + // quirk: Javascript uses 0 based months
                                                            // while we use 1 based months
            FormatNumberLength(date.date(),2) + '/' +
            FormatNumberLength(date.hour(),2) + '/' +
            FormatNumberLength(date.minute(),2);
  return str;
}
function FormatCalendarDateNoHoursOrMinutes(date) {
  var str = FormatNumberLength(date.year(),4) + '/' +
            FormatNumberLength(date.month()+1,2) + '/' + // quirk: Javascript uses 0 based months
                                                            // while we use 1 based months
            FormatNumberLength(date.date(),2);
  return str;
}
function OnChangeGenerateReport(dropdown) {
  if (dropdown.value == "display") {
    var start_date = $('#calendar').fullCalendar('getView').start;
    var end_date = $('#calendar').fullCalendar('getView').end;
    window.location="/Mindwell/" + FormatCalendarDateNoHoursOrMinutes(start_date) + "/" +FormatCalendarDateNoHoursOrMinutes(end_date) + "/provider_invoices/";
  }
  else {
    if( dropdown.value == "invoiceMonth") {
      var date = $('#calendar').fullCalendar('getDate');
      var str = "/Mindwell/" + FormatNumberLength(date.getFullYear(),4) + '/' +
                FormatNumberLength(date.getMonth()+1, 2) + '/' +
                'generate_client_invoices';
      window.location=str;
    }
    else if( dropdown.value == "invoiceWeek") {
      var start_date = $('#calendar').fullCalendar('getView').start;
      var end_date = $('#calendar').fullCalendar('getView').end;
      window.location="/Mindwell/" + FormatCalendarDateNoHoursOrMinutes(start_date) + "/" +FormatCalendarDateNoHoursOrMinutes(end_date) + "/generate_client_invoices_by_date/";
    }
    else if( parseInt(dropdown.value) < 7) {
        var start_date = $('#calendar').fullCalendar('getView').start;
        start_date.setDate(start_date.getDate()+parseInt(dropdown.value))
        window.location="/Mindwell/" + FormatCalendarDateNoHoursOrMinutes(start_date) + "/" +FormatCalendarDateNoHoursOrMinutes(start_date) + "/provider_invoices/";
    }
  }
}

function show_calendar(show_weekends, date, view) {
  $('#calendar').fullCalendar({
  header: {
    left: 'prev,next today',
    center: 'title',
    right: 'month,agendaWeek,agendaDay'
  },
  scrollTime: '{{calendar_start_time}}',
  defaultEventMinutes: 15,
  defaultView: view,
  weekends: show_weekends,
  editable: false,
  allDaySlot: false,
  slotDuration: '00:15:00',
  defaultDate: date,
  weekMode: 'liquid',
  events: "/Mindwell/calendar_feed",
  dayClick: function(date, allDay, jsEvent, view) {
    window.location='/Mindwell/' + FormatCalendarDate(date) + '/calendar/';
  },
  eventRender: function(event, element) {
    element.qtip({
      content: event.description,
      style: 'cream'
    });
    $('.fc-event-title', element).html(event.title + '<br/>' + event.note);
  },
  viewRender: function(view) {
    // this code basically generates the drop downdown with content specific to the current view
    $('#generate_report').html("");
    $('#generate_report').prepend($('<option></option>').val('100').html('Generate a ...'));
    if( view.name == "agendaDay") {
      $('#generate_report').append('<optgroup label=\"----Provider Report----\">');
      $('#generate_report').append($('<option></option>').val('0').html('Current Day'));
      $('#generate_report').append('/<optgroup>');
    }
    if( view.name == "agendaWeek") {
      $('#generate_report').append('<optgroup label=\"----Customer Invoice----\">');
      $('#generate_report').append($('<option></option>').val('invoiceWeek').html('Current Week'));
      $('#generate_report').append('/<optgroup>');
      $('#generate_report').append('<optgroup label=\"----Provider Report----\">');
      $('#generate_report').append($('<option></option>').val('display').html('Current Week'));
      var options = {
        "0" : "Sunday",
        "1" : "Monday",
        "2" : "Tuesday",
        "3" : "Wednesday",
        "4" : "Thursday",
        "5" : "Friday",
        "6" : "Saturday"
      }
      $.each(options, function(val, text) {
        $('#generate_report').append(
            $('<option></option>').val(val).html(text)
        );
      });
      $('#generate_report').append('/<optgroup>');
    }
    if( view.name == "month") {
      $('#generate_report').append('<optgroup label=\"----Customer Invoice----\">');
      $('#generate_report').append($('<option></option>').val('invoiceMonth').html('Current Month'));
      $('#generate_report').append('/<optgroup>');
      $('#generate_report').append('<optgroup label=\"----Provider Report----\">');
      $('#generate_report').append($('<option></option>').val('display').html('Current Month'));
      $('#generate_report').append('/<optgroup>');
    }
  }
});
}
function show_hide_weekends(btn) {
  current_date = $('#calendar').fullCalendar('getDate');
  current_view_name = $('#calendar').fullCalendar('getView').name;
  $('#calendar').fullCalendar('destroy');
  btn = document.forms['showdays'].elements[btn];
  mode = btn.checked ? true : false;
  show_calendar(mode, current_date, current_view_name);
}
{% endblock page_javascript %}
{% block document_ready_javascript %}
  {% include "sort_client_javascript_snippet.html" %}
  show_calendar({{displayweekends}}, moment(new Date({{year}}, {{month}}, {{day}})), 'agendaWeek');
  {% if blocked_time %}
  MW.dosFormJavascriptInit(true);
  {% else %}
  MW.dosFormJavascriptInit(false);
  {% endif %}
  $("#dialog-modal").dialog({autoOpen: false,
    width:450,
    modal: true
  });
  $('a.uimodal').bind('click', function() {
    var $this = $(this);
     $("#dialog-modal").load($this.attr("href"), null, function() {
    $("#dialog-modal").dialog('open');

   });
   return false;
});
if (document.documentElement.clientWidth < 700) {
$('#calendar').fullCalendar('option', 'contentHeight', 2500);
$('#calendar').fullCalendar('option', 'height', 2500);
}
create_choice_modal_dialog("session_type", "input#id_session_type");
{% endblock document_ready_javascript %}
{% block calendar_link %}class="active"{% endblock calendar_link %}
{% block content %}
<div class="container-fluid">
<div class="row">
<div id="cal_options">
  <div id="cal_show">
    <form name="showdays" onsubmit="return false" class="form-inline">
      <label class="checkbox" for="showdays">
      <input type=checkbox id="showdays" name="showdays" onclick="show_hide_weekends(this.name)">Show All Days</label>
      <select name="generate_report" id="generate_report"
              onchange='OnChangeGenerateReport(this.form.generate_report);'>
      </select>
    </form>
  </div>
</div>
</div>
<div class="row">
Key:
<span class="blocked_time">Blocked Time</span>
<span class="scheduleClient">Scheduled</span>
<span class="attendedClient">Attended</span>
<span class="noShow">No Show</span>
<span class="cancel">Cancelled</span>
<span class="payment_rx">Payment Received</span>
</div>
<div class="row">
  <div {% if dos_form %}class="col-md-7"{% else %}class="col-xs-12"{% endif %} id="calendar"></div>

  {% if dos_form %}
      <div class="col-md-5" id="cal_form">
              {% render_custom_modal session_type_choices curr_session_type_choices "Session Type" %}
        <a href="{% url 'add_client_standalone' %}" class="uimodal"><strong>Add New Client</strong></a>
        <form action="{{submit_link}}" method="post">
          <table>
            {% include "dos_form_snippet.html" %}
              <tr>
                <td><input class="btn btn-default" type="submit" value="Submit" />
                <input class="btn btn-default" type="button" name="Cancel" value="Cancel" onclick="window.location = '{{calendar_links.get_absolute_url}}' " /></td>
              </tr>
          </table>
        </form>
        {% for link in links %}
          <br/>
          <a href="{{link.link}}"{%if link.cssclass%}class="{{link.cssclass}}"{% endif %}>{{link.link_name}}</a>
          <br/>
        {% endfor %}
      </div>
  {% endif %}
</div>
</div>
<div id="dialog-modal" title="Add New Client"></div>
{% endblock %}
