{% load choices_modal %}
{% render_custom_modal referrer_choices curr_client_referrer "Referrer" %}
{% render_custom_modal reason_for_visit_choices curr_client_reason_for_visit "Reason for Visit" %}
{% if form %}
<div class="row">
    <div class="col-md-3">
        {% if form.lastname %}
        <div class="form-group">
            {% if form.lastname.errors %}
            {{form.lastname.errors }}
            {% endif %}
            <label for="id_{{form.lastname.html_name}}">Last Name:</label>
            {{form.lastname}}
        </div>
        {% endif %}
        {% if form.firstname %}
        <div class="form-group">
            {% if form.firsttname.errors %}
            {{form.firstname.errors }}
            {% endif %}
            <label for="id_{{form.firstname.html_name}}">First Name:</label>
            {{form.firstname}}
        </div>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <h3>Contact Info</h3>
        <div class="form-group">
            {% if form.cellnumber %}
            {% if form.cellnumber.errors %}
            {{form.cellnumber.errors }}
            {% endif %}
            <label for="id_{{form.cellnumber.html_name}}">Cell #:</label>
            <div class="row">
                <div class="col-sm-6 mindwell-form-num">
                    {{form.cellnumber}}
                </div>
                <div class="col-sm-6 mindwell-form-num-mess">
                    {{form.cellmessage}}
                </div>
            </div>
        </div>
        {% endif %}
        <div class="form-group">
            {% if form.homenumber %}
            {% if form.homenumber.errors %}
            {{form.homenumber.errors }}
            {% endif %}
            <label for="id_{{form.homenumber.html_name}}">Home #:</label>
            <div class="row">
                <div class="col-sm-6 mindwell-form-num">
                    {{form.homenumber}}
                </div>
                <div class="col-sm-6 mindwell-form-num-mess">
                    {{form.homemessage}}
                </div>
            </div>
        </div>
        {% endif %}
        <div class="form-group">
            {% if form.worknumber %}
            {% if form.worknumber.errors %}
            {{form.worknumber.errors }
            {% endif %}
            <label for="id_{{form.worknumber.html_name}}">Work #:</label>
            <div class="row">
                <div class="col-sm-6 mindwell-form-num">
                    {{form.worknumber}}
                </div>
                <div class="col-sm-6 mindwell-form-num-mess">
                    {{form.workmessage}}
                </div>
            </div>
            {% endif %}
        </div>
        <div class="form-group">
            {% if form.emailaddress %}
            {% if form.emailaddress.errors %}
            {{form.emailaddress.errors }}
            {% endif %}
            <label for="id_{{form.emailaddress.html_name}}">Email:</label>
            {{form.emailaddress}}
            {% endif %}
        </div>
    </div>
    <div class="col-md-3 col-md-offset-1">
        <h3>Address</h3>
        <div class="form-group">
            {% if form.address %}
            {% if form.address.errors %}
            {{form.address.errors }}
            {% endif %}
            <label for="id_{{form.address.html_name}}">Address:</label>
            {{form.address}}
            {% endif %}
        </div>
        <div class="form-group">
            {% if form.address2 %}
            {% if form.address2.errors %}
            {{form.address2.errors }}
            {% endif %}
            <label for="id_{{form.address2.html_name}}">Address2:</label>
            {{form.address2}}
            {% endif %}
        </div>
        <div class="form-group">
            {% if form.city %}
            {% if form.city.errors %}
            {{form.city.errors }}
            {% endif %}
            <label for="id_{{form.city.html_name}}">City:</label>
            {{form.city}}
            {% endif %}
        </div>
        <div class=form-group">
            {% if form.state %}
            {% if form.state.errors %}
            {{form.state.errors }}
            {% endif %}
            <label for="id_{{form.state.html_name}}">State:</label>
            {{form.state}}
            {% endif %}
        </div>
        <div class=form-group">
            {% if form.zipcode %}
            {% if form.zipcode.errors %}
            {{form.zipcode.errors }}
            {% endif %}
            <label for="id_{{form.zipcode.html_name}}">ZipCode:</label>
            {{form.zipcode}}
            {% endif %}
        </div>
    </div>
    <div class="col-md-3 col-md-offset-1">
        <h3>Other</h3>
        <div class=form-group">
            {% if form.dob %}
            {% if form.dob.errors %}
            {{form.dob.errors }}
            {% endif %}
            <label for="id_{{form.dob.html_name}}">DOB:</label>
            <div class="mindwell-form-dob">
                {{form.dob}}
            </div>
            {% endif %}
        </div>
        <div class=form-group">
            {% if form.referrer %}
            {% if form.referrer.errors %}
            {{form.referrer.errors }}
            {% endif %}
            <label for="id_{{form.referrer.html_name}}">Referrer:</label>
            {{form.referrer}}
            {% endif %}
        </div>
        <div class=form-group">
            {% if form.dsm_code %}
            {% if form.dsm_code.errors %}
            {{form.dsm_code.errors }}
            {% endif %}
            <label for="id_{{form.dsm_code.html_name}}">DSM Code:</label>
            {{form.dsm_code}}
            {% endif %}
        </div>
        <div class=form-group">
            {% if form.client_status %}
            {% if form.client_status.errors %}
            {{form.client_status.errors }}
            {% endif %}
            <label for="id_{{form.client_status.html_name}}">Client Status:</label>
            {{form.client_status}}
            {% endif %}
        </div>
        <div class=form-group">
            {% if form.guardians_name %}
            {% if form.guardians_name.errors %}
            {{form.guardians_name.errors }}
            {% endif %}
            <label for="id_{{form.guardians_name.html_name}}">Guardian's Name:</label>
            {{form.guardians_name}}
            {% endif %}
        </div>
        <div class=form-group">
            {% if form.guardians_phone_number %}
            {% if form..errors %}
            {{form.guardians_phone_number.errors }}
            {% endif %}
            <label for="id_{{form.guardians_phone_number.html_name}}">Guardian's Phone Number:</label>
            {{form.guardians_phone_number}}
            {% endif %}
        </div>
        <div class=form-group">
            {% if form.emergency_contact %}
            {% if form.emergency_contact.errors %}
            {{form.emergency_contact.errors }}
            {% endif %}
            <label for="id_{{form.emergency_contact.html_name}}">Emergency Contact:</label>
            {{form.emergency_contact}}
            {% endif %}
        </div>
        <div class=form-group">
            {% if form.emergency_contact_phone_number %}
            {% if form.emergency_contact_phone_number.errors %}
            {{form.emergency_contact_phone_number.errors }}
            {% endif %}
            <label for="id_{{form.emergency_contact_phone_number.html_name}}">Emergency Contact Phone #:</label>
            {{form.emergency_contact_phone_number}}
            {% endif %}
        </div>
        <div class=form-group">
            {% if form.reason_for_visit %}
            {% if form.reason_for_visit.errors %}
            {{form.reason_for_visit.errors }}
            {% endif %}
            <label for="id_{{form.reason_for_visit.html_name}}">Reason for Visit:</label>
            {{form.reason_for_visit}}
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>
