{% extends "base_mindwell.html" %}
{% block settings_link %}class="active"{% endblock settings_link%}
{% block content %}
  <h2>Settings</h2>
  <p>
    <a href="/Mindwell/settings/invoice/">Invoice Settings</a><br/>
    <a href="/Mindwell/settings/calendar/">Calendar Settings</a><br/>
    <a href="/Mindwell/settings/permission/">Permission Settings</a><br/>
    <a href="{%url custom_form_settings %}">Custom Form Settings</a><br/>
  </p>
{% block settings %}{% endblock %}
{% endblock %}
